<h1 color="White">Our History</h1>
<div class="well well-lg">

<h3>Publishing</h3>
<p>From Wikipedia, the free encyclopedia
<%=link_to "Publisher", "http://en.wikipedia.org/wiki/Publishing" %> redirects here. For other uses, see Publisher (disambiguation).</p>


<p>Printer working an early Gutenberg letter press from the 15th century. (engraving date unknown)
Publishing is the process of production and dissemination of literature, music, or information — the activity of making information available to the general public. In some cases, authors may be their own publishers, meaning: originators and developers of content also provide media to deliver and display the content for the same. Also, the word publisher can refer to the individual who leads a publishing company or imprint or to a person who owns a magazine.</p>

<p>Traditionally, the term refers to the distribution of printed works such as books (the "book trade") and newspapers. With the advent of digital information systems and the Internet, the scope of publishing has expanded to include electronic resources, such as the electronic versions of books and periodicals, as well as micropublishing, websites, blogs, video game publishers and the like.</p>

<p>Publishing includes the stages of the development, acquisition, copy editing, graphic design, production – printing (and its electronic equivalents), and marketing and distribution of newspapers, magazines, books, literary works, musical works, software and other works dealing with information, including the electronic media.</p>

<p>Publication is also important as a legal concept:
<br/>

<ul>
	<li>As the process of giving formal notice to the world of a significant intention, for example, to marry or enter bankruptcy;</li>
	<li>As the essential precondition of being able to claim defamation; that is, the alleged libel must have been published, and</li>
	<li>For copyright purposes, where there is a difference in the protection of published and unpublished works.</li>
</ul>
</p>
</div>